
.home_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;
    background-image: url(../../images/shitpost/fundo_shitpost.jpg);
}

.home_container h1{
    font-size: 2.5em;
    margin-bottom: .5em;
    margin-bottom: 1.5 em;
    color:black;
    box-shadow: 15px 0 0 0 white, -5px 0 0 0 white;
	background:white;
	display: inline;
	padding: 3px 0 !important;
	position: relative;

}

.home_container h1 span{
    color: blueviolet;
    padding: 0.2em;
    background-color:aqua;
    margin-bottom: 1.5 em;
    color:black;
    box-shadow: 15px 0 0 0 white, -5px 0 0 0 white;
	background:white;
	display: inline;
	padding: 3px 0 !important;
	position: relative;
}

.home_container p{
    margin-bottom: 1.5 em;
    color:black;
    box-shadow: 15px 0 0 0 white, -5px 0 0 0 white;
	background:white;
	display: inline;
	padding: 3px 0 !important;
	position: relative;
}

.home_container img{
    border: 50px, rgb(122, 9, 122);
    width: 350px;
    margin: 2em 0;
}