.form_control{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form_control label{
    margin-bottom: 0.6em;
    font-weight: bold;
    color:black;
    box-shadow: 5px 0 0 0 blueviolet, -5px 0 0 0 blueviolet;
	background:blueviolet;
	display: inline;
	padding: 1px 0 !important;
	position: relative;
}

.form_control input{
    padding: 0.7em;
    border-radius: 0.5em;
    border: none;
}

.form_control input::placeholder{
    color: grey;
}