.navBar {
   display: flex;
   justify-content: space-between;
   background-color: blueviolet;
   padding: 1em;

}

.list {
   display: flex;
   list-style: none;
   align-items: center;
}

.item {
   margin-right: 1em;
}
.item a {
   color: white;
   text-decoration: none;
}
.item a:hover {
   color: crimson;
}