.navBar {
   font-size: 1.5em;
   display: flex;
   justify-content: space-between;
   background-color: #f805bb;
   height: 100px;
}

.list {
   display: flex;
   list-style: none;
   align-items: center;
}

.item {
   margin-right: 100px;
}
.item a {
   color: white;
   text-decoration: none;
	display: center;
	padding: 3px 0 !important;
	position: relative;
}

.navBar img{
   width: 100px;
}

.item a::after{
   content: " ";
   width: 0%;
   height: 4px;
   background-color: #fff;
   position: absolute;
   bottom: 0;
   left: 0;
   transition: 0.5s ease-in-out;
}

.item a:hover::after {
   color: crimson;
   width: 100%;
}