.City{
    background-image: url('../../images/map_final.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex: 1 0 auto;
    z-index: 0;

}
.icones{
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    transition: all 0.5s ease;
}
.icones:hover {
    height: 110%;
    width: 110%;
    cursor: pointer;
}

#carro{
    background-image: url('../../images/carro_icone.png');
    border-radius: 25%;
}
.carroPai{
    height: 11vh;
    width: 5vw;
    top: 45vh;
    left: 30vw;
    position: absolute;
}

#coringa{
    background-image: url('../../images/card1.png');
    border-radius: 25%;
}
.coringaPai{
    height: 11vh;
    width: 5vw;
    top: 100vh;
    left: 45vw;
    position: absolute;
}

#agiota{
    background-image: url('../../images/money.jpg');
    border-radius: 25%;
}
.agiotaPai{
    height: 11vh;
    width: 5vw;
    top: 70vh;
    left: 80vw;
    position: absolute;
}

@keyframes glow {
    from {
        box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px transparent, 0 0 40px transparent, 0 0 50px transparent, 0 0 60px transparent, 0 0 70px transparent;
    }

    to {
        box-shadow: 0 0 20px #fff, 0 0 30px transparent, 0 0 40px transparent, 0 0 50px transparent, 0 0 60px transparent, 0 0 70px transparent, 0 0 80px transparent;
    }
}
