.City{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex: 1 0 auto;
};
.teste{
    position: absolute;
    height: 20vh;
    width: 20vw;
    top: 30vh;
    left: 30vw;
}